<div class="actions-menu">
  @if (primary()) {
    <button class="actions-menu__primary" type="button"
      [attr.aria-label]="(primary()!.label ?? '') | translate"
      (click)="onPrimaryClick($event)">
      <ion-icon [name]="primary()!.icon ?? 'add-outline'"></ion-icon>
    </button>
  }

  @if (actions().length > 0) {
    <div class="actions-menu__overflow-wrap">
      <button class="actions-menu__more" type="button"
        [attr.aria-expanded]="dropdownOpen()" aria-haspopup="menu"
        (click)="toggleActions($event)">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </button>

      @if (dropdownOpen()) {
        <div class="actions-menu__dropdown" role="menu">
          @for (action of actions(); track action.label) {
            <button class="actions-menu__item"
              [class.actions-menu__item--danger]="action.role === 'danger'"
              type="button" role="menuitem"
              (click)="runAction(action, $event)">
              @if (action.icon) {
                <ion-icon [name]="action.icon"></ion-icon>
              }
              <span>{{ action.label | translate }}</span>
            </button>
          }
        </div>
      }
    </div>
  }
</div>

<ui-bottom-sheet #mobileSheet [showSave]="false" [breakpoint]="0.5">
  <div class="optlist">
    @for (action of actions(); track action.label) {
      <button type="button" class="opt" [class.opt--danger]="action.role === 'danger'"
        (click)="runSheetAction(action)">
        @if (action.icon) {
          <ion-icon class="opt__icon" [name]="action.icon"></ion-icon>
        }
        <span class="opt__main">
          <span class="opt__title">{{ action.label | translate }}</span>
        </span>
      </button>
    }
  </div>
</ui-bottom-sheet>
